@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Open+Sans:wght@300&display=swap');

/*COVER SECTION*/

.channel-cover {
    width: 1595px;
    height: 280px;
    margin: 0px;
    background-image: url(./images/channel_cover.png);
}

.main_channel {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}

/*CHANNEL NAVIGATION*/
.navigation-section {
    display: flex;
    width: 834px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.channel-navigation__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 3px;
    font-weight: 400;
    font-size: 18px;
}

.channel-navigation__elem {
    margin-right: 69px;
    line-height: 23px;
}

.channel-navigation__elem:first-child {
    color: #FF0000;
}

.two-column {
    display: flex;
}
/*RIGHT SECTION*/

.right-section__wrapper {
    width: 190px;
    height: 260px;
    margin-left: 204px;
    margin-top: 22px;
    display: flex;
    flex-direction: column;
}

.person__headline {
    color: #C2C2C2;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

.person-img {
    width: 50px;
    height: 50px;
}

.person-div {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.name-span {
    margin-left: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}


/*CHANNEL PERSONAL INFO*/

.channel-personal__wrapper {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}
.avatar-wrapper {
    display: flex;

}

.channel-personal__photo {
    display: flex;
    align-items: center;
}

.avatar {
    width: 80px;
    height: 80px;
}

.channel-personal__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 14px;
}

.channel-personal__subscribe {
    display: flex;
}

.channel-personal__name {
    margin: 0;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    color: #19202C;
}

.channel-personal__subscribes {
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
}

.channel-personal__subscribe {
    margin-right: 70px;
    display: flex;
    height: fit-content;
    align-items: center;
}

.channel-btn {
    width: 154px;
    height: 40px;
    border-radius: 20px;
    background-color: #FF0000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
    border: none;
    color: #FFFFFF;
}

.channel-bell {
    width: 22px;
    height: 26px;
}

.channel-bell__wrapper {
    margin-right: 20px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

/*CHANNEL ARTICLE*/

.channel-article__wrapper {
    width: 1120px;
    height: 250px;
    margin-top: 59px;
    display: flex;
}

.channel-article__image {
    width: 540px;
    height: 250px;
    position: relative;
}

.article-video__span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 216px;
    right: 10px;
    width: 47px;
    height: 24px;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    line-height: 18px;
    border-radius: 12px;
}

.article-image {
    width: 540px;
    height: 250px;
}

.article-info__wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}

.article__headline {
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: #19202C;
    margin: 0;
    margin-top: 19px;
    max-width: 431px;
}

.article-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    margin-top: 10px;
}

.article-smalltext {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #C2C2C2;
    margin: 0;
    margin-top: 30px;
}


/*CHANNEL VIDEOS*/

.channel-video {
    width: 1665px;
    height: 263px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 61px;
}

.channel-video__text {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.channel-video__headline {
    font-size: 26px;
    font-weight: 700;
    color: #19202C;
    line-height: 33px;
    margin: 0px;
    margin-left: 4px;

}

.channel-video__wrapper {
    height: 200px;
    margin-top: 30px;
    overflow-x: hidden;
    display: flex;
}

.channel-video__elem {
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    position: relative;
}

.channel-video__video {
    width: 250px;
    height: 150px;
}

.channel-video__video_last {
    background-image: url(./images/sports_channel.png);
}

.channel-video__span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 116px;
    right: 10px;
    width: 47px;
    height: 24px;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    line-height: 18px;
    border-radius: 12px;
}

.channel-video__name {
    color: #19202C;
    font-size: 16px;
    line-height: 20.08px;
    margin: 0;
    margin-top: 10px;
    font-weight: 700;
}

.channel-video__info {
    display: flex;
    color: #C2C2C2;
    font-size: 13px;
    line-height: 16px;
    justify-content: space-between;
    margin-top: 4px;
}


/*ARROWS*/
.arrows {
    width: 66px;
    height: 28px;
    display: flex;
    align-self: flex-end;
    position: absolute;
    right: 149px;
    bottom: 0;
    z-index: 2;
}

.arrow {
    width: 11.2px;
    height: 7px;
}

.arrow-p {
    width: 28px;
    height: 28px;
    background-color: rgba(0, 0, 0, 0.24);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.arrow-p:first-child {
    margin-right: 10px;

}
